In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/india-agriculture-crop-production/India Agriculture Crop Production.csv

In [2]:
df = pd.read_csv('/kaggle/input/india-agriculture-crop-production/India Agriculture Crop Production.csv')
df.head()

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  object
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: float64(3), object(7)
memory usage: 26.4+ MB

In [4]:
df['Production']/df['Area']

0         1.643541
1         1.655803
2         1.209358
3         1.690000
4         1.696296
            ...
345402         NaN
345403         NaN
345404         NaN
345405         NaN
345406         NaN
Length: 345407, dtype: float64

In [5]:
df.tail()

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
345402,Manipur,IMPHAL WEST,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345403,Manipur,SENAPATI,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345404,Manipur,TAMENGLONG,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345405,Manipur,THOUBAL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN
345406,Manipur,UKHRUL,NaN,2019-20,Rabi,NaN,Hectare,NaN,Tonnes,NaN

In [6]:
import math


n = 4
print(n)
print(math.log(n))
print(round(2.6))

4
1.3862943611198906
3

In [7]:
s = 'First line.\tSecond line.'
print(s)

word = 'Python'
for character in word:
    print(character)
    

good_features = [
    'feature1',
    'feature2',
    'featuren'
]
len(good_features)

First line.	Second line.
P
y
t
h
o
n

3

In [8]:
# import str

s = 'IE'
print(str.lower(s))
'1|2|3'.split('|')



# lists
[1, 2, 3, 1, 1, 1]
# tuples
()
# sets
(1, 2, 3)

ie

(1, 2, 3)

In [9]:
list1 = [1, 2, 3, 3, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))


my_tuple = tuple(list1)
print(my_tuple[0])
# my_tuple[0] = 2

my_list = list1
print(my_list[0])
my_list[0] = 2
print(my_list[0])

my_set = set(list1)
print(my_set)

Tuple using List:
(1, 2, 3, 3, 4, 5, 6)
1
1
2
{2, 3, 4, 5, 6}

In [10]:
tel = {
    'jack': 4098, 
    'sape': 4139,
    1: 'jack',
    2: 'jill'
}

# tel = dict(
#     [
#         ('sape', 4139), 
#         ('guido', 4127), 
#         ('jack', 4098)
#     ]
# )

In [11]:
cars = 'car1'
print('before the for loop')
print()

for i, j in tel.items():
    print('in the for loop')
    print(i, j)
    print("key", i)
    print("val", j)
    
print()
print('after the for loop')
print("key", i)
print("val", j)

before the for loop

in the for loop
jack 4098
key jack
val 4098
in the for loop
sape 4139
key sape
val 4139
in the for loop
1 jack
key 1
val jack
in the for loop
2 jill
key 2
val jill

after the for loop
key 2
val jill

In [12]:
my_list = ['tic', 'tac', 'toe']
print(my_list[0])
print(my_list[1])
print(my_list[2])

for i, v in enumerate(my_list):
    print(i, v)
    print(my_list[i])

tic
tac
toe
0 tic
tic
1 tac
tac
2 toe
toe

1. Write a function that accepts an integer (n) and computes the value of n + nn + nnn. (nn means n times n.)

2a. Write a function that has as input parameter "guess" a guessed dice value, then throws a dice, and returns the difference between the thrown value and the guessed value.
2b. Change the above function to guess the sum of three throws instead.
2c. Write a function dice() that takes as input parameter the number of sides of the dice and returns a random dice throw. Edit the functions from 2a and 2b to use this function instead.

3. Write a function that accepts the radius of a circle as input and computes the area.

4. Take or rewrite the function that returns the Euclidean distance between two points.

5. Write a function that takes a first and last name as input and returns them in reverse order, with the last name in capitals.

In [13]:
# 1. Write a function that accepts an integer (n) and computes the value of n + nn + nnn. (nn means n times n.)

def calc_eqn_n(n=10):
    result = n + (n * n) + (n * n * n)
    print(result)
    return result

result1 = calc_eqn_n()
result2 = calc_eqn_n(n=10)
result4 = calc_eqn_n(n=20)
result6 = calc_eqn_n(n=30)

print(result1)
print(result2)
print(result4)
print(result6)

1110
1110
8420
27930
1110
1110
8420
27930

In [14]:
# 2a. Write a function that has as input parameter "guess" a guessed dice value, then throws a dice, 
#     and returns the difference between the thrown value and the guessed value. 
# 2b. Change the above function to guess the sum of three throws instead. 
# 2c. Write a function dice() that takes as input parameter the number of sides of the dice 
#     and returns a random dice throw. Edit the functions from 2a and 2b to use this function instead.
import random


def calc_diff_thrown_guessed(guess_value):
    print('guess value is :', guess_value)
    thrown_value1 = random.randint(1,6)
    print('thrown value1 is :', thrown_value1)
    thrown_value2 = random.randint(1,6)
    print('thrown value2 is :', thrown_value2)
    thrown_value3 = random.randint(1,6)
    print('thrown value3 is :', thrown_value3)
    sum_three_throws = thrown_value1 + thrown_value2 + thrown_value3
    print('sum :', sum_three_throws)
    result = sum_three_throws - guess_value
    return result

calc_diff_thrown_guessed(guess_value=10)

guess value is : 10
thrown value1 is : 6
thrown value2 is : 4
thrown value3 is : 4
sum : 14

4

In [15]:
# 5. Write a function that takes a first and last name as input and returns them in reverse order, with the last name in capitals.

def reverse_capital(first_name, last_name):
    last_name_cap = str.upper(last_name)
    reversed_str = last_name_cap + ' ' + first_name
    return reversed_str

reverse_capital('yash', 'karle')
# reverse_capital('jack', 'jill')
# reverse_capital('tom', 'john')

'KARLE yash'